# Proyecto: 'CDMX Un aire no tan bueno'
## Licenciatura en Ciencia de Datos
### Instituto de Investigaciones en Matemáticas Aplicadas y en Sistemas (IIMAS)
### Universidad Nacional Autónoma de México

Integrantes:

- Ortega Ibarra Jaime Jesús
- Martiñón Luna Jonathan José

----
# Pre-Procesamiento de datos.

## Índice de contenidos
* [Importando librerías](#E1)
* [Lectura de Datos](#E2)
* [Generando Funciones](#E3)
* [Creando Modelo](#E4)
* [Resultados](#E5)

----
<a name="E1"></a>
## Importando librerías necesarias

In [121]:
import pandas as pd
import matplotlib.pyplot as plt

----
<a name="E2"></a>
## Lectura de datos

In [190]:
data = pd.read_csv('./data_preprocessed.csv')

In [191]:
data.head()

,Nombre de estación,Clave de estación,Clave Parámetro,Nombre de parámetro,Unidades parámetros,Valor,ID Unidad,Clave de unidad,Alcaldia,Dia,Mes,Año,Hora,Tiraderos,Escuelas_publicas,Escuelas_privadas,Mercados,Parquimetros,Areas_verdes,Estacion_climatologica
0,Santa fe,SFE,NO2,Dióxido de nitrógeno,1,18.0,1,ppb,Cuajimalpa,15,2,2020,20,5,35,172,5,0,448,1
1,Milpa Alta,MPA,O3,Ozono,1,24.0,1,ppb,Milpa Alta,15,2,2020,20,13,28,32,10,0,130,1
2,Mguel Hidalgo,MGH,O3,Ozono,1,27.0,1,ppb,Miguel Hidalgo,15,2,2020,20,69,137,223,19,1382,925,1
3,Pedregal,PED,O3,Ozono,1,19.0,1,ppb,Alvaro Obregon,15,2,2020,20,77,172,321,16,83,721,1
4,Ajusco Medio,AJM,O3,Ozono,1,NaN,1,ppb,Miguel Hidalgo,15,2,2020,20,69,137,223,19,1382,925,1

----
<a name="E3"></a>
## Generando Funciones

----
<a name="E4"></a>
## Creando Modelo

----
<a name="E5"></a>
## Resultados